/* shrikhand-regular - latin */
@font-face {
    font-family: "Shrikhand";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.svg#Shrikhand")
            format("svg"); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v27-latin/roboto-v27-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v27-latin/roboto-v27-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-300.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-300.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin/roboto-v27-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-500.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin/roboto-v27-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v27-latin/roboto-v27-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v27-latin/roboto-v27-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin/roboto-v27-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/roboto-v27-latin/roboto-v27-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v27-latin/roboto-v27-latin-900.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-900.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v27-latin/roboto-v27-latin-900.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto-v27-latin/roboto-v27-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
