@import "abstracts/variables";
@import "abstracts/mixins";
// @import "vendors/normalize";
@import "base/typography";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/navigation";

@import "components/buttons";
@import "components/animations";

@import "pages/home";
@import "pages/menu";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto;
  &.menus-restos {
    #bloc_page {
      width: 100%;
    }
    .categorie {
      @include tablette {
        margin: 0 40px;
      }
      @include laptop {
        margin: 0 60px;
      }
      @include desktop {
        margin: 0 80px;
      }
    }
  }
  #bloc_page {
    max-width: 980px;
    @include laptop {
      margin: 0 80px;
    }
    @include desktop {
      margin: 0 150px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  h1 {
    font-family: Shrikhand;
  }

  @include laptop {
    align-items: center;
  }
}

.bg-cover-center {
  background-size: cover;
  background-position: center;
}
