@mixin mobile-lg {
    @media screen and (min-width: map-get($breakpoints, mobile-lg)) {
        @content;
    }
}

@mixin mobile-xl {
    @media screen and (min-width: map-get($breakpoints, mobile-xl)) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@for $i from 1 through $total-categories {
    .menus .categorie:nth-child(#{$i}) {
        animation-delay: 0.5s * $i;
    }
}
