$breakpoints: (
    mobile-lg: 376px,
    mobile-xl: 532px,
    tablette: 768px,
    laptop: 1024px,
    desktop: 1280px,
);

$couleurs: (
    primaire: #9356dc,
    secondaire: #ff79da,
    tertiaire: #99e2d0,
    bg: #f6f6f6,
    bg-gray: gray,
    bg-light-gray: lightgray,
    bg-localisation: #eaeaea,
    bg-footer: #353535,
);

$borders-radius: (
    btn-action: 25px,
    process: 20px,
    card-img: 15px 15px 0 0,
    card-txt: 0 0 15px 15px,
    hero-txt: 35px 35px 0 0,
    menu-check: 0 15px 15px 0,
);

$total-categories: 3;
