.custom-loading-spinner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: -10000;
    width: 100%;
    background-color: white;
    opacity: 0;
    height: 2255px;
    animation: custom-loading-global 5s;
    &__img {
        margin-top: 190px;
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        opacity: 0;
        animation: spin 5s linear;
        @include laptop {
            margin-top: 210px;
        }
    }
    @include mobile-lg {
        height: 2455px;
    }

    @include mobile-xl {
        height: 2675px;
    }

    @include laptop {
        height: 1771px;
    }
}

.presentation {
    display: flex;
    flex-direction: column;
    .localisation {
        display: flex;
        height: 50px;
        padding-right: 25px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        background: map-get($couleurs, bg-localisation);
        box-shadow: inset 0 8px 6px -6px rgb(180, 177, 177);
        .fas {
            margin-right: 15px;
        }
    }
    .intro {
        display: flex;
        flex-direction: column;
        height: 285px;
        padding-top: 20px;
        background: map-get($couleurs, bg);
        h1 {
            margin-bottom: 13px;
            padding: 18px 2.32em 0;
            text-align: center;
            font-family: roboto;
            font-size: 1.6rem;
        }
        p {
            margin: 0;
            padding: 0 21px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 100;
        }
        &__btn {
            display: flex;
            margin-top: 25px;
            height: 60px;
            justify-content: center;
            align-items: center;
        }
        @include mobile-xl {
            padding-top: 20px;
            h1 {
                font-size: 1.8rem;
            }
        }
        @include tablette {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            h1 {
                margin: 0;
                padding: 0;
                font-size: 2.4rem;
            }
        }
        @include laptop {
            h1 {
                font-size: 2.6rem;
            }
        }
        @include desktop {
            h1 {
                font-size: 2.8rem;
            }
        }
    }
    .fonctionnement {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        padding: 30px 20px;
        h2 {
            margin-top: 16px;
            margin-bottom: 25px;
            font-size: 24px;
        }
        .processes {
            display: flex;
            flex-direction: column;

            &__process {
                position: relative;
                display: flex;
                padding: 20px 0 20px 30px;
                margin-left: 10px;
                margin-bottom: 24px;
                align-items: center;
                height: 75px;
                background: map-get($couleurs, bg);
                border-radius: map-get($borders-radius, process);
                box-shadow: 0 5px 10px map-get($couleurs, bg-light-gray);
                font-weight: 500;
                &:hover {
                    background-color: #f5edff;
                    .processes__process__fa {
                        color: map-get($couleurs, primaire);
                    }
                }
                .tag {
                    width: 23px;
                    height: 23px;
                    border-radius: 25px;
                    background-color: map-get($couleurs, primaire);
                    color: #ffffff;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 23px;
                    position: absolute;
                    left: -12px;
                    font-size: 0.86em;
                }

                .processes__process__fa {
                    margin-right: 30px;
                    font-size: 1.2rem;
                    color: map-get($couleurs, bg-gray);
                    width: 12px;
                }
            }
        }
        @include laptop {
            .processes {
                flex-direction: row;
                justify-content: space-between;
                &__process {
                    padding-right: 15px;
                }
            }
        }
        @include desktop {
            .processes {
                &__process {
                    padding-right: 40px;
                }
            }
        }
    }
}

.restos {
    padding: 55px 20px 3em;
    background: map-get($couleurs, bg);
    .group-card {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        .card {
            margin-bottom: 18px;
            a {
                text-decoration: none;
            }
            &__img {
                display: flex;
                justify-content: flex-end;
                background-size: cover;
                background-position: center;
                height: 170px;
                border-radius: map-get($borders-radius, card-img);
                &.imageResto1 {
                    background: url(../images/restaurants/la-palette-du-gout.jpg);
                    @extend .bg-cover-center;
                }
                &.imageResto2 {
                    background: url(../images/restaurants/la-note-enchantee.jpg);
                    @extend .bg-cover-center;
                }
                &.imageResto3 {
                    background: url(../images/restaurants/a-la-francaise.jpg);
                    @extend .bg-cover-center;
                }
                &.imageResto4 {
                    background: url(../images/restaurants/le-delice-des-sens.jpg);
                    @extend .bg-cover-center;
                }
                .badge {
                    width: 77px;
                    height: 28px;
                    margin: 12px;
                    padding: 5px;
                    border-radius: 2px;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    color: darken(map-get($couleurs, tertiaire), 40);
                    background-color: map-get($couleurs, tertiaire);
                }
            }
            &__text {
                display: flex;
                height: 80px;
                background-color: white;
                border-radius: map-get($borders-radius, card-txt);
                box-shadow: 0 5px 10px map-get($couleurs, bg-light-gray);
                div {
                    padding-top: 15px;
                    margin-left: 10px;
                }
                h3 {
                    margin-bottom: 0;
                }
                p {
                    margin-top: 5px;
                    font-weight: 300;
                }
                span {
                    display: flex;
                    flex: 1;
                    margin-right: 25px;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 1.4rem;
                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    @include mobile-lg {
        .group-card .card {
            &__img {
                height: 220px;

                &.imageResto1 {
                    background: url(../images/restaurants/730x420/la-palette-du-gout.jpg);
                }
                &.imageResto2 {
                    background: url(../images/restaurants/730x420/la-note-enchantee.jpg);
                }
                &.imageResto3 {
                    background: url(../images/restaurants/730x420/a-la-francaise.jpg);
                }
                &.imageResto4 {
                    background: url(../images/restaurants/730x420/le-delice-des-sens.jpg);
                }
            }
        }
    }
    @include mobile-xl {
        .group-card .card {
            &__img {
                height: 275px;
            }
        }
    }
    @include laptop {
        .group-card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .card {
                width: 45%;
                margin-top: 20px;
            }
        }
    }
}
