.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    height: 300px;
    &.imgHero1 {
        background: url(../images/restaurants/500xplus/la-palette-du-gout.jpg);
        @extend .bg-cover-center;
    }
    &.imgHero2 {
        background: url(../images/restaurants/500xplus/la-note-enchantee.jpg);
        @extend .bg-cover-center;
    }
    &.imgHero3 {
        background: url(../images/restaurants/500xplus/a-la-francaise.jpg);
        @extend .bg-cover-center;
    }
    &.imgHero4 {
        background: url(../images/restaurants/500xplus/le-delice-des-sens.jpg);
        @extend .bg-cover-center;
    }

    .hero-txt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px 0;
        height: 80px;
        background-color: map-get($couleurs, bg);
        border-radius: map-get($borders-radius, hero-txt);
        h1 {
            font-size: 1.7rem;
            font-weight: 300;
        }
        .fa {
            margin-bottom: 0;
            font-size: 1.4rem;
            margin-right: 15px;
        }
        @include mobile-xl {
            justify-content: space-between;
            h1 {
                font-size: 2rem;
            }
        }
        @include tablette {
            h1 {
                font-size: 2.2rem;
                margin-left: 40px;
            }
            .fa {
                margin-right: 55px;
            }
        }
        @include laptop {
            h1 {
                font-size: 2.4rem;
                margin-left: 60px;
            }
            .fa {
                margin-right: 75px;
            }
        }
        @include desktop {
            h1 {
                font-size: 2.6rem;
                margin-left: 80px;
            }
            .fa {
                margin-right: 93px;
            }
        }
    }
    @include tablette {
        height: 350px;
        &.imgHero1 {
            background: url(../images/restaurants/730x420/la-palette-du-gout.jpg);
        }
        &.imgHero2 {
            background: url(../images/restaurants/730x420/la-note-enchantee.jpg);
        }
        &.imgHero3 {
            background: url(../images/restaurants/730x420/a-la-francaise.jpg);
        }
        &.imgHero4 {
            background: url(../images/restaurants/730x420/le-delice-des-sens.jpg);
        }
    }
}
.menus {
    padding: 5px 0.8em 2em;
    background: map-get($couleurs, bg);
    .categorie {
        opacity: 1;
        animation: menu-categories 1.5s;
        animation-fill-mode: both;
    }

    h2 {
        font-size: 1rem;
        font-weight: 300;
        margin: 30px 0 15px;
        padding-left: 5px;
        width: 600px;
        height: 27px;
        position: relative;
        z-index: 1;
    }
    h2:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 40px;
        margin-left: 5px;
        border-bottom: 3px solid map-get($couleurs, tertiaire);
    }
    h2.menus-first {
        margin-top: 15px;
    }

    .menu {
        margin-bottom: 15px;
        cursor: url(../images/main.png), auto;
        animation: fadeIn 2.5s;
        &:hover {
            .menu__coche {
                display: block;
                animation: progress-coche 500ms;
                span {
                    animation: progress-rotate 500ms;
                }
            }
            .menu__text h3,
            .menu__text p {
                width: 190px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__text {
            display: flex;
            height: 68px;
            align-items: flex-end;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 5px 10px map-get($couleurs, bg-light-gray);
            overflow: hidden;
            div {
                margin-left: 10px;
                padding-bottom: 12px;
            }
            h3 {
                margin: 0;
                font-size: 1.1rem;
                font-weight: 500;
            }
            p {
                margin-top: 5px;
                font-size: 0.9rem;
                font-weight: 100;
            }
            .menu__prix {
                display: flex;
                flex: 1;
                justify-content: flex-end;
                padding-bottom: 12px;
                padding-right: 20px;
                font-size: 0.9rem;
                font-weight: 500;
            }
            .menu__coche {
                width: 60px;
                height: 68px;
                font-size: 1.3rem;
                display: none;
                background-color: map-get($couleurs, tertiaire);
                border-radius: map-get($borders-radius, menu-check);
                span {
                    display: table-cell;
                    width: 60px;
                    height: 68px;
                    text-align: center;
                    vertical-align: middle;
                    color: #ffffff;
                    transform: rotate(0deg);
                    transition: transform 500ms;
                }
            }
        }
        @include mobile-xl {
            &:hover {
                .menu__text h3,
                .menu__text p {
                    width: auto;
                }
            }
        }
    }
}

.menu-btn {
    display: flex;
    padding-top: 35px;
    padding-bottom: 40px;
    background: map-get($couleurs, bg);
    justify-content: center;
    align-items: center;
    .btn-action {
        width: 190px;
    }
}
