.menus .categorie:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menus .categorie:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menus .categorie:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/* shrikhand-regular - latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin/roboto-v27-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.woff") format("woff"), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin/roboto-v27-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.header-home {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-home .logo {
  font-family: Shrikhand;
  font-size: 30px;
}

.header-home .return-left {
  position: relative;
  left: -76px;
}

.header-home .return-left a {
  color: black;
}

.header-home .return-left .fa {
  width: 23px;
  height: 23px;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  font-size: 1.2rem;
}

@media screen and (min-width: 376px) {
  .header-home .return-left {
    left: -20%;
  }
}

@media screen and (min-width: 532px) {
  .header-home .return-left {
    left: -30%;
  }
}

@media screen and (min-width: 1024px) {
  .header-home .return-left {
    left: -35%;
  }
}

@media screen and (min-width: 1280px) {
  .header-home .return-left {
    left: -300px;
  }
}

.header-home__logo {
  width: 170px;
  height: 30px;
  margin-top: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 195px;
  padding: 1.5em 25px;
  background: #353535;
}

footer .logo-footer {
  font-size: 18px;
  font-family: Shrikhand;
  color: white;
  margin-bottom: 15px;
}

nav {
  width: 100%;
  font-size: 16px;
}

nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

nav li {
  margin-bottom: 8px;
  font-weight: 300;
}

nav li.bold {
  font-weight: 500;
}

nav li i {
  font-size: 0.8rem;
  width: 20px;
}

nav a {
  display: block;
  padding-top: 0;
  color: white;
  text-decoration: none;
  width: 100%;
}

nav a:hover {
  padding-top: 0;
  border-top: initial;
  color: #9356dc;
  border-bottom: 3px solid var(--bleu);
}

.navbar {
  background-color: #300236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.btn-action {
  width: 217px;
  height: 50px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0 6px 8px lightgray;
          box-shadow: 0 6px 8px lightgray;
}

.btn-action:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 6px 8px gray;
          box-shadow: 0 6px 8px gray;
  cursor: pointer;
}

.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.fa-heart:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  -webkit-animation: heart 2s;
          animation: heart 2s;
}

@-webkit-keyframes menu-categories {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-categories {
  0% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    margin-bottom: 25px;
  }
  75% {
    margin-bottom: 15px;
  }
  100% {
  }
}

@keyframes fadeIn {
  0% {
    margin-bottom: 25px;
  }
  75% {
    margin-bottom: 15px;
  }
  100% {
  }
}

@-webkit-keyframes progress-coche {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    width: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 60px;
  }
}

@keyframes progress-coche {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    width: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 60px;
  }
}

@-webkit-keyframes progress-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes progress-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 10002;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 10002;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes custom-loading-global {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
  }
}

@keyframes custom-loading-global {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.custom-loading-spinner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -10000;
  width: 100%;
  background-color: white;
  opacity: 0;
  height: 2255px;
  -webkit-animation: custom-loading-global 5s;
          animation: custom-loading-global 5s;
}

.custom-loading-spinner__img {
  margin-top: 190px;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  opacity: 0;
  -webkit-animation: spin 5s linear;
          animation: spin 5s linear;
}

@media screen and (min-width: 1024px) {
  .custom-loading-spinner__img {
    margin-top: 210px;
  }
}

@media screen and (min-width: 376px) {
  .custom-loading-spinner {
    height: 2455px;
  }
}

@media screen and (min-width: 532px) {
  .custom-loading-spinner {
    height: 2675px;
  }
}

@media screen and (min-width: 1024px) {
  .custom-loading-spinner {
    height: 1771px;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-right: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  background: #eaeaea;
  -webkit-box-shadow: inset 0 8px 6px -6px #b4b1b1;
          box-shadow: inset 0 8px 6px -6px #b4b1b1;
}

.presentation .localisation .fas {
  margin-right: 15px;
}

.presentation .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 285px;
  padding-top: 20px;
  background: #f6f6f6;
}

.presentation .intro h1 {
  margin-bottom: 13px;
  padding: 18px 2.32em 0;
  text-align: center;
  font-family: roboto;
  font-size: 1.6rem;
}

.presentation .intro p {
  margin: 0;
  padding: 0 21px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
}

.presentation .intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 532px) {
  .presentation .intro {
    padding-top: 20px;
  }
  .presentation .intro h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .presentation .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .presentation .intro h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .presentation .intro h1 {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 1280px) {
  .presentation .intro h1 {
    font-size: 2.8rem;
  }
}

.presentation .fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
  padding: 30px 20px;
}

.presentation .fonctionnement h2 {
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 24px;
}

.presentation .fonctionnement .processes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation .fonctionnement .processes__process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 30px;
  margin-left: 10px;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  background: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px lightgray;
          box-shadow: 0 5px 10px lightgray;
  font-weight: 500;
}

.presentation .fonctionnement .processes__process:hover {
  background-color: #f5edff;
}

.presentation .fonctionnement .processes__process:hover .processes__process__fa {
  color: #9356dc;
}

.presentation .fonctionnement .processes__process .tag {
  width: 23px;
  height: 23px;
  border-radius: 25px;
  background-color: #9356dc;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  position: absolute;
  left: -12px;
  font-size: 0.86em;
}

.presentation .fonctionnement .processes__process .processes__process__fa {
  margin-right: 30px;
  font-size: 1.2rem;
  color: gray;
  width: 12px;
}

@media screen and (min-width: 1024px) {
  .presentation .fonctionnement .processes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .presentation .fonctionnement .processes__process {
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .presentation .fonctionnement .processes__process {
    padding-right: 40px;
  }
}

.restos {
  padding: 55px 20px 3em;
  background: #f6f6f6;
}

.restos .group-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.restos .group-card .card {
  margin-bottom: 18px;
}

.restos .group-card .card a {
  text-decoration: none;
}

.restos .group-card .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center;
  height: 170px;
  border-radius: 15px 15px 0 0;
}

.restos .group-card .card__img.imageResto1 {
  background: url(../images/restaurants/la-palette-du-gout.jpg);
}

.restos .group-card .card__img.imageResto2 {
  background: url(../images/restaurants/la-note-enchantee.jpg);
}

.restos .group-card .card__img.imageResto3 {
  background: url(../images/restaurants/a-la-francaise.jpg);
}

.restos .group-card .card__img.imageResto4 {
  background: url(../images/restaurants/le-delice-des-sens.jpg);
}

.restos .group-card .card__img .badge {
  width: 77px;
  height: 28px;
  margin: 12px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #278870;
  background-color: #99e2d0;
}

.restos .group-card .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0 5px 10px lightgray;
          box-shadow: 0 5px 10px lightgray;
}

.restos .group-card .card__text div {
  padding-top: 15px;
  margin-left: 10px;
}

.restos .group-card .card__text h3 {
  margin-bottom: 0;
}

.restos .group-card .card__text p {
  margin-top: 5px;
  font-weight: 300;
}

.restos .group-card .card__text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.restos .group-card .card__text span i {
  cursor: pointer;
}

@media screen and (min-width: 376px) {
  .restos .group-card .card__img {
    height: 220px;
  }
  .restos .group-card .card__img.imageResto1 {
    background: url(../images/restaurants/730x420/la-palette-du-gout.jpg);
  }
  .restos .group-card .card__img.imageResto2 {
    background: url(../images/restaurants/730x420/la-note-enchantee.jpg);
  }
  .restos .group-card .card__img.imageResto3 {
    background: url(../images/restaurants/730x420/a-la-francaise.jpg);
  }
  .restos .group-card .card__img.imageResto4 {
    background: url(../images/restaurants/730x420/le-delice-des-sens.jpg);
  }
}

@media screen and (min-width: 532px) {
  .restos .group-card .card__img {
    height: 275px;
  }
}

@media screen and (min-width: 1024px) {
  .restos .group-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restos .group-card .card {
    width: 45%;
    margin-top: 20px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.hero.imgHero1 {
  background: url(../images/restaurants/500xplus/la-palette-du-gout.jpg);
}

.hero.imgHero2 {
  background: url(../images/restaurants/500xplus/la-note-enchantee.jpg);
}

.hero.imgHero3 {
  background: url(../images/restaurants/500xplus/a-la-francaise.jpg);
}

.hero.imgHero4 {
  background: url(../images/restaurants/500xplus/le-delice-des-sens.jpg);
}

.hero .hero-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px 0;
  height: 80px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
}

.hero .hero-txt h1 {
  font-size: 1.7rem;
  font-weight: 300;
}

.hero .hero-txt .fa {
  margin-bottom: 0;
  font-size: 1.4rem;
  margin-right: 15px;
}

@media screen and (min-width: 532px) {
  .hero .hero-txt {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-txt h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero .hero-txt h1 {
    font-size: 2.2rem;
    margin-left: 40px;
  }
  .hero .hero-txt .fa {
    margin-right: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-txt h1 {
    font-size: 2.4rem;
    margin-left: 60px;
  }
  .hero .hero-txt .fa {
    margin-right: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .hero .hero-txt h1 {
    font-size: 2.6rem;
    margin-left: 80px;
  }
  .hero .hero-txt .fa {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 350px;
  }
  .hero.imgHero1 {
    background: url(../images/restaurants/730x420/la-palette-du-gout.jpg);
  }
  .hero.imgHero2 {
    background: url(../images/restaurants/730x420/la-note-enchantee.jpg);
  }
  .hero.imgHero3 {
    background: url(../images/restaurants/730x420/a-la-francaise.jpg);
  }
  .hero.imgHero4 {
    background: url(../images/restaurants/730x420/le-delice-des-sens.jpg);
  }
}

.menus {
  padding: 5px 0.8em 2em;
  background: #f6f6f6;
}

.menus .categorie {
  opacity: 1;
  -webkit-animation: menu-categories 1.5s;
          animation: menu-categories 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menus h2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 30px 0 15px;
  padding-left: 5px;
  width: 600px;
  height: 27px;
  position: relative;
  z-index: 1;
}

.menus h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 40px;
  margin-left: 5px;
  border-bottom: 3px solid #99e2d0;
}

.menus h2.menus-first {
  margin-top: 15px;
}

.menus .menu {
  margin-bottom: 15px;
  cursor: url(../images/main.png), auto;
  -webkit-animation: fadeIn 2.5s;
          animation: fadeIn 2.5s;
}

.menus .menu:hover .menu__coche {
  display: block;
  -webkit-animation: progress-coche 500ms;
          animation: progress-coche 500ms;
}

.menus .menu:hover .menu__coche span {
  -webkit-animation: progress-rotate 500ms;
          animation: progress-rotate 500ms;
}

.menus .menu:hover .menu__text h3,
.menus .menu:hover .menu__text p {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menus .menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px lightgray;
          box-shadow: 0 5px 10px lightgray;
  overflow: hidden;
}

.menus .menu__text div {
  margin-left: 10px;
  padding-bottom: 12px;
}

.menus .menu__text h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.menus .menu__text p {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 100;
}

.menus .menu__text .menu__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 12px;
  padding-right: 20px;
  font-size: 0.9rem;
  font-weight: 500;
}

.menus .menu__text .menu__coche {
  width: 60px;
  height: 68px;
  font-size: 1.3rem;
  display: none;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
}

.menus .menu__text .menu__coche span {
  display: table-cell;
  width: 60px;
  height: 68px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

@media screen and (min-width: 532px) {
  .menus .menu:hover .menu__text h3,
  .menus .menu:hover .menu__text p {
    width: auto;
  }
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 40px;
  background: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn .btn-action {
  width: 190px;
}

:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: Roboto;
}

body.menus-restos #bloc_page {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body.menus-restos .categorie {
    margin: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  body.menus-restos .categorie {
    margin: 0 60px;
  }
}

@media screen and (min-width: 1280px) {
  body.menus-restos .categorie {
    margin: 0 80px;
  }
}

body #bloc_page {
  max-width: 980px;
}

@media screen and (min-width: 1024px) {
  body #bloc_page {
    margin: 0 80px;
  }
}

@media screen and (min-width: 1280px) {
  body #bloc_page {
    margin: 0 150px;
  }
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body h1 {
  font-family: Shrikhand;
}

@media screen and (min-width: 1024px) {
  body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bg-cover-center, .restos .group-card .card__img.imageResto1, .restos .group-card .card__img.imageResto2, .restos .group-card .card__img.imageResto3, .restos .group-card .card__img.imageResto4, .hero.imgHero1, .hero.imgHero2, .hero.imgHero3, .hero.imgHero4 {
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */