@keyframes menu-categories {
    0% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

// @-webkit-keyframes fadeIn {
@keyframes fadeIn {
    0% {
        // opacity: 0.3;
        margin-bottom: 25px;
    }
    75% {
        // opacity: 0.7;
        margin-bottom: 15px;
    }
    100% {
        // opacity: 1;
    }
}

@keyframes progress-coche {
    0% {
        transform: translateX(60px);
        width: 0;
    }
    100% {
        transform: translateX(0);
        width: 60px;
    }
}

@keyframes progress-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        z-index: 10002;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}
@keyframes custom-loading-global {
    0% {
        opacity: 1;
        z-index: 10000;
    }
    100% {
        opacity: 0;
    }
}

@keyframes heart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
