.btn-action {
    width: 217px;
    height: 50px;
    background-image: linear-gradient(to top left, map-get($couleurs, primaire), map-get($couleurs, secondaire));
    border-radius: map-get($borders-radius, btn-action);
    padding-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    box-shadow: 0 6px 8px map-get($couleurs, bg-light-gray);
    &:hover {
        opacity: 0.8;
        box-shadow: 0 6px 8px map-get($couleurs, bg-gray);
        cursor: pointer;
    }
}

.fa-heart {
    display: flex;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.fa-heart:hover {
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0px;
    animation: heart 2s;
}
