footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 195px;
    padding: 1.5em 25px;
    background: map-get($couleurs, bg-footer);
    // img {
    //     height: 18px;
    //     margin: 5px 0;
    // }
    .logo-footer {
        font-size: 18px;
        font-family: Shrikhand;
        color: white;
        margin-bottom: 15px;
    }
}

nav {
    width: 100%;
    font-size: 16px;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav li {
    margin-bottom: 8px;
    font-weight: 300;

    &.bold {
        font-weight: 500;
    }
    i {
        font-size: 0.8rem;
        width: 20px;
    }
}

nav a {
    display: block;
    padding-top: 0;
    color: white;
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    padding-top: 0;
    border-top: initial;
    color: map-get($couleurs, primaire);
    border-bottom: 3px solid var(--bleu);
}
