.header-home {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        font-family: Shrikhand;
        font-size: 30px;
    }
    .return-left {
        position: relative;
        left: -76px;
        a {
            color: black;
        }
        .fa {
            width: 23px;
            height: 23px;
            text-align: center;
            vertical-align: middle;
            line-height: 23px;
            font-size: 1.2rem;
        }
        @include mobile-lg {
            left: -20%;
        }
        @include mobile-xl {
            // left: -155px;
            // left: -155px;
            left: -30%;
        }
        @include tablette {
            // left: -235px;
        }
        @include laptop {
            // left: -320px;
            left: -35%;
        }
        @include desktop {
            left: -300px;
        }
    }
    &__logo {
        width: 170px;
        height: 30px;
        margin-top: 10px;
    }
}

// .logo,
// .logo-footer {
//     font-family: Shrikhand;
// }
// .logo {
//     font-size: 30px;
// }
// .logo-footer {
//     font-size: 20px;
// }
