.navbar {
    background-color: #300236;
    border-radius: 2px;
    max-width: 800px;

    a {
        color: #aaa;
        display: inline-block;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;

        &:hover {
            color: #ffffff;
        }
    }
}